<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%date [%thread] %-5p %logger %NDC - %message%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.livingsocial" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="owasp.dependencycheck" level="ERROR" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="OFF">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>